<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>DHCP Management</title>
<script type="text/javascript" src="../jquery-3.4.1.min.js" ></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
function deletegroup(event) {
  var group = $(event.target).next().val();
  if (!confirm("Are you sure you want to delete this group?"))
    return;
  $("#deleteInput").val(group);
  $("#deleteSubmit").click();
}

function deleteKeyPress(event) {
  // Check to see if space or enter were pressed
  if (event.keyCode === 32 || event.keyCode === 13) {
    // Prevent the default action to stop scrolling when space is pressed
    event.preventDefault();
    deletegroup(event);
  }
}

function validateSubmit(event) {
  if ($("#name").val() == '') {
    alert("Name for the new group must be supplied");
    event.preventDefault();
    return;
  }
  if ("[[${isloginmanager}]]" == "false")
    return;
  if (! ($("#sharing").prop("checked") || $("#guests").prop("checked"))) {
    alert("Sharing and/or login must be checked");
    event.preventDefault();
    return;
  }
}

function dolookup(event) {
  window.location.href = "showgroup?name=" + $("#lookup").val();
}

function showedit(event) {
  var thisentry = $(this).closest('.itemlist-row');
  // find the model and insert data
  var editentry = $('#newform');
  var name = thisentry.find('.subnetname').text();
  // need original list, not text version
  var optindex = thisentry.find('.sindex').text();
  var options = /*[[${subnets}]]*/ [];
  options = options[optindex]['dhcpoption'];
  if (!options)
    options = []

  editentry.find('.name').val(name);
  editentry.find('.origname').val(name);
  var optarea = '\n';
  var i;
  for (i = 0; i < options.length; i++) {
     optarea = optarea + options[i] + '\n';
  }
  editentry.find('.options').val(optarea.substring(1));
  editentry.find('.name').focus();
}

$(document).ready(function(){
    $(".editbutton").click(showedit);
    });

/*]]>*/
</script>
</head>
<div role="banner" id="masthead"></div>
<div role="main" id="main">

<div role="alert" class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>


<div style="display:flex; justify-content:space-between">
<div role="navigation"><a href="../"> Account Management</a></div>
<div role="navigation"><a href="/accounts/groups/login?logout=true&app=dhcp"> Logout</a></div>
</div>

<h1> DHCP Subnet Management </h1>



<div th:if="${subnets != null and subnets.size() > 0}">

<div th:if="${options}">
<h2> Global options </h2>
<ul class="itemlist">
  <li th:each="o : ${options}" th:text="${o}" />
</ul>
</div>

<form action="showhosts" method="get">
<h2>Find hosts</h2>

<label>Host name: <input type="text" name="host"/></label><br/>
<label>IP address: <input type="text" name="ip"/></label><br/>
<label>Ethernet address: <input type="ether" name="ether"/></label> [aa:bb:cc:dd:ee:ff, or other standard format]<br/>
<input type="submit" value="Search"/>
</form>

<form th:action="@{/dhcp/showsubnets}" method="post">
<h2>Current subnets</h2>

<div class="inset" style="padding-top:0.5em">

<ul class="itemlist">
<li th:each="s,status : ${subnets}">
<fieldset class="transparent-fieldset">
<div class="itemlist-row">
<legend class="hidden" th:text="${s.cn[0]}"/>
<div style="display:none" class="sindex" th:text="${status.index}"/>
<div> <button class="editbutton" type="button">Edit</button> </div>
<div class="itemlist-entry1"><label><span class="hidden">Delete</span><input type="checkbox" name="del" th:value="${s.cn[0]}"/></label> </div>
<div class="itemlist-entry2"> <a th:href="@{showhosts(subnet=${s.cn[0] + '/' + s.dhcpnetmask[0]})}"><span class="subnetname" th:text="${s.cn[0] + '/' + s.dhcpnetmask[0]}"/></a></div>
<div class="itemlist-entry3 option" th:if="${s['dhcpoption']}"  th:text="${s['dhcpoption']}"/>
</div>
</fieldset>
</li>
</ul>

</div>
</div>

<div th:if="${dhcpmanager || superuser}">

<h2 style="margin-top:2em"> Add or Modify Subnet </h2>

<div class="inset" style="margin-top:1em" id="newform">
<input type="hidden" name="origname" class="origname"/>
<label>Subnet n.n.n.n/b: <input type="text" name="name" class="name"/></label>
<br/>
<label>Routers: <input type="text" name="routers" id="routers"/></label> [default is first address in the subnet]<br/>
<label>Options: [not normally needed. We generate broadcast-address, routers, subnet-mask, but you can override them.]</br>
<textarea rows="4" cols="80" name="options" class="options">
</textarea>
</label><br/>
<input type="submit" value="Add/Update/Delete Subnets"/>
</div>
</div>
</form>
<div th:insert="~{accessibility :: footer}"></div>
</div>
</html>
