<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>DHCP Management</title>
<script type="text/javascript" src="../jquery-3.2.1.min.js" ></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
// make sure the next entry exists
// if not create it
function nextexists(event) {
  var thisentry = $(this).closest('div');
  var nextentry = thisentry.next();
  // is there already an entry after this one? if so done
  if (nextentry.length && nextentry.hasClass('newhost'))
     return;
  // find the model and insert a clone. make it not a model and
  // make sure it triggers this
  thisentry.parent().find('.modelhost').clone().insertAfter(thisentry).
    addClass('newhost').removeClass('modelhost').show().change(nextexists).
    find('.optionbox').click(optionvisible);
  
}

function showedit(event) {
  var thisentry = $(this).closest('.itemlist-row');
  var nextentry = thisentry.next();
  // is there already an entry after this one? if so done
  if (nextentry.length && nextentry.hasClass('edithost')) {
     nextentry.toggle();
     return;
  }
  // find the model and insert a clone. make it not a model and
  // make sure it triggers this
  var editentry = $('.modelhost').clone().insertAfter(thisentry).
    addClass('edithost').removeClass('modelhost').show();
  editentry.find('.optionbox').click(optionvisible);
  var cn = thisentry.find('.itemname').text();
  var address = thisentry.find('.itemaddress').text();
  var hwaddress = thisentry.find('.itemhwaddress').text();
  if (hwaddress.startsWith('ethernet ')) {
     hwaddress = hwaddress.substring(9);
  }
  var optionelements = thisentry.find('.itemoptions');
  var options = '';
  optionelements.each(function( index ) {
     options = options + '\n' + $(this).text();
  });
  // remove initial newline
  if (optionelements.length > 0)
     options = options.substring(1);

  editentry.find('.newname').val(cn);
  editentry.find('.newhwaddress').val(hwaddress);
  editentry.find('.newoptions').val(options);
  editentry.find('.newedit').val('true');
 
}

function optionvisible(event) {
  $(this).parent().find('textarea').toggle();
}

$(document).ready(function(){
    $(".newname").change(nextexists);
    $(".optionbox").click(optionvisible);
    $(".editbutton").click(showedit);
    });

/*]]>*/
</script>
</head>
<div id="masthead"></div>
<div id="main">

<div class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>


<a href="../"> Account Management</a> | <a href="showsubnets"> Subnets </a>

<h1> DHCP Host Management </h1>

<form th:action="@{/dhcp/showhosts}" method="post">

<input type="hidden" name="subnet" th:value="${subnet}"/>

<div th:if="${hosts != null and hosts.size() > 0}">

<h2>Current hosts</h2>

<div class="inset" style="padding-top:0.5em">

<ul class="itemlist">
<li th:each="h : ${hosts}">
<div class="itemlist-row">
<div class="itemlist-entry1"> <input type="checkbox" name="del" th:value="${h.cn[0]}"/> </div>
<div class="itemlist-entry2"> <span class="itemaddress" th:text="${h.address}"/> </div>
<div> <button class="editbutton" type="button">Edit</button> </div>
<div class="itemlist-entry3a"> <span class="itemname" th:text="${h.cn[0]}"/> &middot; <span class="itemhwaddress" th:text="${h.dhcphwaddress[0]}"/> <span th:if="${h['dhcpoption']}" th:text="${h['dhcpoption']}"/><span class="itemoptions" style="visibility: hidden" th:each="l: ${h['dhcpoption']}" th:text="${l}" /> </div>
</div>
</li>
</ul>
  
</div>
</div>

<div th:if="${dhcpmanager || superuser}">

<h2 style="margin-top:2em"> Add Host </h2>

<div class="inset" style="margin-top:1em">
<div class="newhost">
<label>Hostname: <input class="newname" type="text" name="names[]" id="names[]"/></label>
<br/>
<label>Ethernet: <input type="text" name="ethernet[]" id="ethernet[]"/></label>
<label><button type="button"  class="optionbox">Click to show options (not normally needed)</button>
<textarea rows="4" cols="80" name="options[]" id="options[]" style=display:none>
</textarea>
</label>
<input type="hidden" name="edit[]" value="false"/>
</div>
<div class="modelhost" style="display:none; margin-top:15px">
<label>Hostname: <input class="newname" type="text" name="names[]" id="names[]"/></label>
<br/>
<label>Ethernet: <input class="newhwaddress" type="text" name="ethernet[]" id="ethernet[]"/></label>
<label><button type="button"  class="optionbox">Click to show options (not normally needed)</button>
<textarea rows="4" cols="80" class="newoptions" name="options[]" id="options[]" style=display:none>
</textarea>
</label>
<input class="newedit" type="hidden" name="edit[]" value="false"/>
</div>

<input type="submit" value="Add/Delete Hosts"/>
</div>
</div>
</form>
<div th:insert="~{accessibility :: footer}"></div>
</div>
</html>
