<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div th:fragment="footer" role="contentinfo" class="explanation footer">
<p>For questions or problems with this page, please contact <a href="mailto:help@cs.rutgers.edu">help@cs.rutgers.edu</a>.</p>
<p>Rutgers is an equal access/equal opportunity institution. Individuals with disabilities are
encouraged to direct suggestions, comments, or complaints concerning any accessibility issues
with Rutgers web sites to: <a href="mailto:accessibility@rutgers.edu">accessibility@rutgers.edu</a>  or complete the
<a href="https://oit.rutgers.edu/accessibility/barrierform">Report Accessibility Barrier / Provide Feedback</a></p>
    </div>
  
  </body>
  
</html>
