<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<script>
if (!location.pathname.endsWith("/") && !location.pathname.endsWith("index.html") || !location.protocol=='https') {
   location.href = 'https:' + location.host + "/" + location.pathname + "/";
}
</script>
<style type="text/css">^
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: \
1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 0em 1em;
border: solid black 1px;
background-color: #ffffdd;
}
.textblock2 {
background-color: #eeeeee;
}
</style>
<head><link href="usertool.css" rel="stylesheet" type="text/css">
<title> Account Management Tools for Computer Science Systems</title>
</head>
<div id="masthead"></div>
<div id="main">

<h1> Account Management Tools for<br>Computer Science Systems</h1>

<p> <b>Note:</b> Your computer science user ID is your <b>University
NetID</b>. You must have a University NetID before you can
activate a computer science account. Here's
the Univeristy's tool for activating your
NetID: <a href="https://netid.rutgers.edu">https://netid.rutgers.edu</a>

<p> Computer science systems use passwords that are separate from 
your University password. You can make them the same, but it is
somewhat better from a security point of view if you use different
passwords.

<ul>
<li> <b>Lifetime of accounts and files</b>
<p>
When users leave the University (or computer science), their accounts are closed. Files are archived. They will be deleted after a year, except for faculty files. Shared directories will be deleted or archived based on the user that owns them.
<p>
Sometimes users will have a continuing association with the Department even after leaving. Accounts may be continued as guest or retiree accounts. Any faculty member can sponsor a guest. The Computer Science Department handles retirees.
<li> <a href="activate/activate">Activate an account on a Computer Science system</a>
<p>
This will let you create an account for Computer Science Department systems. Computer science
faculty, majors, grad students, and students enrolled in computer science courses other than 110, 170 and 494
are eligible for accounts.
<p>
<li> <a href="changepass/changepass">Set or reset your Computer Science  password</a>. 
<p>
This will show you a University login screen. So as long as you remember
your University password, you set or reset your CS password. If you need more security than a simple password
can afford, please see <a href="https://services.cs.rutgers.edu/two-factor.html"> two factor authentication</a>.
<li> <a href="groups/login">Group and Guest management.</a> This will you create and manage groups. This is useful for three purposes:
<p>
<ul>
<li> If you want to share files with a group of people, you can create a group that lists the people and then change the permissions of the file so they can access it. For more help with this, see <a href="https://www.cs.rutgers.edu/resources/making-a-directory-you-can-share-with-members-of-your-project">Sharing files</a>. </li>
<li> If you are authorized (normally faculty) and want to allow grad students or collaborators to access reseearch or instructional systems, you can create a guest group. For help with this, see <a href="http://resources.cs.rutgers.edu/docs/managing-guest-users"> Managing your guest users</a>.</li>
<li> If you are runniing your own computer cluster, you can use groups to control what users are allowed to login.</li>
</ul>
<p>
<li>  Consider giving us contact information, in case we need to reach you for support reasons. 
<p>You can set additional information using "ipa user-mod" on any of our systems, e.g. "ipa user-mod YOURNETID --phone=8484452001". "ipa user-mod --help" will give a list of what can be set. "ipa user-show YOURNETID" will show your current information. You only need to do this once. The same information applies to all of our systems. Note that changing first name, lastname, and GECOS won't do anything useful, since we reset them to the official University names nightly.
<li> By default, everyone uses the bash shell. To change to tcsh use "ipa user-mod YOURNETID --shell=/bin/tcsh" any of our systems.
<p>
<li>  <a href="https://services.cs.rutgers.edu/two-factor.html"> Two-factor authentication</a>. In case you need more security than a simple password can provide.
<p>
<li> <a href="https://services.cs.rutgers.edu/kerberize.html"> Integrating your computer into Kerberos </a>. How to set up your computer to use Kerberos. (This is for computers located in
computer science department areas. For systems at home, see <a href="https://www.cs.rutgers.edu/resources/working-at-home"> Working at Home</a>.)
<p>
<li> <a href="https://services.cs.rutgers.edu/sharing.html"> Sharing files between systems</a>
<p>
<li> <a href="https://services.cs.rutgers.edu/kerberos.html"> Technical information on our security and
account setup.</a>
</ul>
<div class="textblock" style="margin-top:3em">
<p>NOTE on <b>cron jobs</b>: For systems that use these accounts, 
cron jobs need special attention. If you're using cron, and you want
your jobs to access files in your home directory, you must use
"kgetcred -r" on each host where you're going to use cron. See "man kgetcred"
for more information. 
</div>
<div th:insert="~{accessibility :: footer}"></div>
