[Unit]
Description=Kerberos Credentials Daemon - server for kgetcred
After=krb5kdc.service

[Service]
Type=forking
ExecStart=/usr/sbin/credserv

[Install]
WantedBy=multi-user.target
