[Unit]
Description=Kerberos Credentials Daemon - server for kgetcred

[Service]
Type=forking
ExecStart=/usr/sbin/credserv

[Install]
WantedBy=multi-user.target
