<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Syslog name="syslog" host="localhost" port="514" protocol="TCP" facility="authpriv" newLine="true"/>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="syslog"/>
    </Root>
  </Loggers>
</Configuration>
