<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Socket name="syslog" host="localhost" port="514" protocol="TCP">
      <PatternLayout pattern="&lt;86&gt;accounts[%T]: %m%n" />
    </Socket>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="syslog"/>
    </Root>
  </Loggers>
</Configuration>
