body {
  margin: 0px;
  font-family: helvetica, arial
}
#masthead {
  background-image: url(red_banner2.png);
  background-repeat: no-repeat;
  background-size: 346.43px 100px;
  background-color: rgb(204,0,41);
  height:100px;
}
#masthead:before {
  position:absolute;
  top: 10px;
  right:0px;
  display:block;
  font-size:24px;
  font-weight: lighter;
  padding-right:20px;
  color:white;
  content:"Department of Computer Science";
}
#main {
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
}
a:link, a:visited, a:hover {
 color: #a00;
}
a:hover, a:active {
 color: red;
}
h1 {
  font: lighter 24pt "Arial", Helvetica;
  margin-top:0.5em;
  margin-bottom: 0.75em;
}
h2 {
  font: 16pt Arial, Helvetica;
  margin-bottom: 0.25em;
}
h3 {
  font: 12pt Arial, Helvetica;
  margin-bottom: 0.25em;
}
.addarea {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #eee;
  padding: 0.5em;
  padding-right: 1em;
  border: 1px solid;
  border-color: #aaa;
}
.addarea h4 {
  margin-top: 0px;
}
.inset {
  margin-left: 1em;
}
.explanation {
  margin-top: 1em;
  background-color: #eee;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid;
  border-color: #aaa;
}
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.messages {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding:0em 1.5em 0em 1.5em;
  border: solid #b00 1px;
  background-color: #fdd;
  margin-bottom: 1em;
}
.message {
  padding:1em 1.5em 1em 1.5em;
}
.grid-left {
  display:flex; align-items:center;
  margin-bottom:0.5em;
}
.grid-left > * {
  margin-left: 1em
}
.label {
  padding:0em 0.5em 0em 0.5em;
  border: solid #bb0 1px;
  background-color: #ffd;
  margin-left: 0.5em;
}
.warning {
  padding:0em 0.5em 0em 0.5em;
  border: solid #b00 1px;
  background-color: #fbb;
  margin-left: 0.5em;
}
.footer {
  margin: 2em 0
}
.itemlist {
    list-style-type:none;
    padding-left:1em;
}
.itemlist-row {
    display:flex;
}
.itemlist-entry2 {
    margin-left: 1px;
}
.itemlist-entry3 {
    margin-left: 15px;
}
.itemlist-entry3a {
    margin-left: 40px;
    text-indent: -32px;
}
.edithost {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}