<!DOCTYPE html>

<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>Login for group management</title>
</head>
<div role="banner" id="masthead"></div>
<div role="main" id="main">
<div role="alert" class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>

<div role="navigation"><a href="../"> Account Management</a> </div>

<h1> Login to user / system management tools for Computer Science systems </h1>

<p> This login uses your computer science department password,
which may be different from your University password.
</p>


<h2> Login</h2>

<p></p>
<form th:action="@{/groups/login}" method="post">
<label>Username: <input type="text" name="user"/></label><br/>
<label>Password: <input type="password" name="pass"/></label>
<input type="hidden" name="app" th:value="${app}"/>
<input type="hidden" name="ifid" th:value="${ifid}"/>
<p></p>
<input type="submit" value="login"/>
</form>
<div class="explanation">
  NOTE: This application accepts Kerberos single-signon (technically called "SPNEGO") if you are
  using a browser on a system where login uses Computer Science Kerberos. (This is true for all
  Linux systems run by Computer Science staff. You can configure our own Mac or Linux systems
  that way as well.)
. <p>If you use single-signon, you won't need to type your
  username and password to get to most screens.
<p>
  See <a href="https://docs.spring.io/spring-security-kerberos/docs/current/reference/html/browserspnegoconfig.html"> Configure Browsers for Spnego Negotiaton</a> You can either list https://services.cs.rutgers.edu or depending upon the browser, *.cs.rutgers.edu.
  Note that Chrome on the Mac is like Linux in accepting a JSON file in /etc/opt/chrome/policies/managed
</div>

<div th:insert="~{accessibility :: footer}"></div>
</div>
</html>
