<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>Login for group management</title>
</head>
<div id="masthead"></div>
<div id="main">
<div class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>

<a href="../"> Account Management</a> 

<h1> Login to user / system management tools for Computer Science systems </h1>

<p> This login uses your computer science department password,
which may be different from your University password.
</p>


<h2> Login</h2>

<p></p>
<form th:action="@{/groups/login}" method="post">
<label>Username: <input type="text" name="user"/></label><br/>
<label>Password: <input type="password" name="pass"/></label>
<input type="hidden" name="app" th:value="${app}"/>
<p></p>
<input type="submit" value="login"/>
</form>
</div>
</html>
