<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>Group Management</title>
<script type="text/javascript" src="../jquery-3.2.1.min.js" ></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
function deletegroup(event) {
  var group = $(event.target).next().val();
  if (!confirm("Are you sure you want to delete this group?"))
    return;
  $("#deleteInput").val(group);
  $("#deleteSubmit").click();
}

function deleteKeyPress(event) {
  // Check to see if space or enter were pressed
  if (event.keyCode === 32 || event.keyCode === 13) {
    // Prevent the default action to stop scrolling when space is pressed
    event.preventDefault();
    deletegroup(event);
  }
}

function validateSubmit(event) {
  if ($("#name").val() == '') {
    alert("Name for the new group must be supplied");
    event.preventDefault();
    return;
  }
  if ("[[${isloginmanager}]]" == "false")
    return;
  if (! ($("#sharing").prop("checked") || $("#guests").prop("checked"))) {
    alert("Sharing and/or login must be checked");
    event.preventDefault();
    return;
  }
}

$(document).ready(function(){
    $(".deleteButton").click(deletegroup);
    $(".deleteButton").keypress(deleteKeyPress);
    $("#submit").click(validateSubmit);
    });

/*]]>*/
</script>
</head>
<div id="masthead"></div>
<div id="main">

<div class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>


<a href="../"> Account Management</a>

<h1> Group Management </h1>

<p> These pages can be used to create and manage groups for sharing files, and also to authorize guest users.</p>

<form th:action="@{/groups/showgroups}" method="post" id="deleteForm" style="display:none">
<label>item <input type="text" name="del" id="deleteInput"/></label>
<input type="submit" id="deleteSubmit" value="Delete Item"/>
</form>

<form th:action="@{/groups/showgroups}" method="post">

<div th:if="${groups != null and groups.size() > 0}">

<h2>Current groups owned by you</h2>

<div class="inset" style="padding-top:0.5em">

<div th:each="g : ${groups}">
<a th:href="@{showgroup(name=${g.cn[0]})}"><span th:text="${g.cn[0]}"/></a>
<span th:text="${g['gidnumber']?.get(0)}"/>
<img role="button" tabindex="0" style="height:1em;margin-left:1em" src="delete.png" th:alt="${'Delete group ' + g.cn[0]}" class="deleteButton"/> <input type="hidden" name="deleteName" th:value="${g.cn[0]}"/> <span class="label" th:if="${g['businesscategory'] != null and g['businesscategory'].contains('login')}"> Login </span> <span class="label"  th:if="${g['gidnumber']?.get(0)}"> File sharing </span> <span th:if="${g['needsreview'] != null}" class="warning">Needs review</span>

</div>
</div>
</div>

<div th:if="${canaddgroup}">

<h2 style="margin-top:2em"> Add Group </h2>

<div class="inset" style="margin-top:1em">
<label>Group Name: <input type="text" name="name" id="name"/></label>

<div th:if="${isloginmanager}">
<p> Type of group to create: There are two types of group. Normally you should <b>check only one</b> box.</p>


<div class="grid-left">
<input type="checkbox" name="sharing" id="sharing"/> 
<div>
<label for="sharing" >Group for <b>sharing files</b> between users.</label> This is a normal Unix group. You can use "chgrp" to change a directory or file to this group, so that other group members can access it.
</div>
</div>

<div class="grid-left">
<input type="checkbox" name="guests" id="guests"/> 
<div>
<label for="guests"><b>Login.</b></label> This is a list of users that you are authorizing to login. The most common use is to let grad students login to the research cluster, but it can also be used to allow members of other departments to login to a cluster or to control who can login to a system that you manage.
</div>
</div>
</div>
<p>
<input type="submit" id="submit" value="Add Group"/>
</p>
</div>
</div>
</form>
<div th:insert="~{accessibility :: footer}"></div>
</div>
</html>
