<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head><link href="../usertool.css" rel="stylesheet" type="text/css"/>
<title>Show and Edit Group</title>
<script type="text/javascript" src="../jquery-3.2.1.min.js" ></script>
<script type="text/javascript">
/*<![CDATA[*/
function deleteMember(event) {
  var member = $(event.target).next().val();
  if (!confirm("Are you sure you want to delete this member?"))
    return;
  $("#deleteInput").val(member);
  $("#deleteSubmit").click();
}

function deleteMemberKeyPress(event) {
  // Check to see if space or enter were pressed
  if (event.keyCode === 32 || event.keyCode === 13) {
    // Prevent the default action to stop scrolling when space is pressed
    event.preventDefault();
    deleteMember(event);
  }
}


function deleteOwner(event) {
  var owner = $(event.target).next().val();
  if (!confirm("Are you sure you want to delete this owner?"))
    return;
  $("#deleteOwnerInput").val(owner);
  $("#deleteOwnerSubmit").click();
}

function deleteOwnerKeyPress(event) {
  // Check to see if space or enter were pressed
  if (event.keyCode === 32 || event.keyCode === 13) {
    // Prevent the default action to stop scrolling when space is pressed
    event.preventDefault();
    deleteOwner(event);
  }
}

function confirmMembers(event) {
  event.preventDefault();
  $("#confirmSubmit").click();
}

$(document).ready(function(){
    $(".deleteMemberButton").click(deleteMember);
    $(".deleteMemberButton").keypress(deleteMemberKeyPress);
    $(".deleteOwnerButton").click(deleteOwner);
    $(".deleteOwnerButton").keypress(deleteOwnerKeyPress);
    $(".confirmButton").click(confirmMembers);
    });

/*]]>*/
</script>
</head>
<div id="masthead"></div>
<div id="main">
<div class="messages" th:if="${messages?.size()}">
<p th:each="msg : ${messages}" th:text="${msg}" />
</div>

<a href="../"> Account Management</a> | <a href="showgroups">Group list</a>

<h1> Show and Edit Group </h1>


<form th:action="@{/groups/showgroup}" method="post" id="deleteForm" style="display:none">
<label>Member <input type="text" name="del" id="deleteInput"/></label>
<input type="hidden" name="groupname" th:value="${gname}"/>
<input type="submit" id="deleteSubmit" value="Delete Member"/>
</form>
<form th:action="@{/groups/showgroup}" method="post" id="deleteOwnerForm" style="display:none">
<label>Owner <input type="text" name="delowner" id="deleteOwnerInput"/></label>
<input type="hidden" name="groupname" th:value="${gname}"/>
<input type="submit" id="deleteOwnerSubmit" value="Delete Owner"/>
</form>
<form th:action="@{/groups/showgroup}" method="post" id="confirmForm" style="display:none">
<input type="hidden" name="groupname" th:value="${gname}"/>
<input type="hidden" name="confirmmembers" th:value="true"/>
<input type="submit" id="confirmSubmit" value="Confirm Members"/>
</form>


<form th:action="@{/groups/showgroup}" method="post">
<input type="hidden" name="groupname" th:value="${gname}"/>
<p> Group: <span th:text="${gname}"/><span th:if="${group['gidnumber'] != null}" th:text="${', ' + group.gidnumber[0]}"/></p>
<ul>
<li class="inset" th:if="${group['businesscategory'] != null and group['businesscategory'].contains('login')}"> <b> Login group</b> &middot; Members of this group can login to the clusters specified in the "Clusters" section of this page, or to a system that you control. E.g. a group of students can be authorized to login to the research cluster, or a group of faculty from other departments can be authorized to login to a specific cluster. If this is being used for a cluster that you own, the first box in the "Clusters" section should be checked, but clusters that we run won't necessarily be checked. </li>
<li class="inset" th:if="${group['gidnumber']?.get(0)}"> <b> File sharing Group</b> &middot; This is a Group for sharing files between users. It is a normal Unix group. You can use "chgrp" to change a directory or file to this group, so that other group members can access it.
</li>
</ul>

<div class="messages" th:if="${group['member'] == null}">
<p th:if="${group['member'] == null}">
Make sure you add at least one member to the group.
</p>
</div>

<h2>Members</h2>
<div class="inset" style="margin-top:0.5em">
<div th:if="${group['member'] != null}">
<div th:each="m: ${group['member']}">
<span th:text="${membernames.get(m)}"/> <img role="button" tabindex="0" style="height:1em;margin-left:1em" src="delete.png" th:alt="${'Delete member ' + lu.dn2user(m)}" class="deleteMemberButton"/><input type="hidden" name="deleteName" th:value="${lu.dn2user(m)}"/><br/>
</div>
</div>
<div th:if="${needsreview or group['businesscategory'] != null and group['businesscategory'].contains('suspended')}" class="warning" style="margin-top:1em">
<!-- h3 only visible to screen readers, because color labels it for others -->
<h3 class="hidden">Confirm membership</h3>
<p> We ask group owners to review the list of members annually. Please remove any members
that should no longer be in the group, and then click on the "Confirm membership" button.
</p>
<button class="confirmButton"> Confirm membership </button>
</div>


<h3>Add members</h3>
<div class="inset">
<label>NetIds to add as members, one per line<br/>
<textarea class="newmember" name="newmember" rows="4" cols="40"></textarea>
</label><br/>
<a href="addpart-lookup.jsp" target="addpart"> Lookup up user in University directory</a>
<p/>
<input type="submit" style="margin-top:0.5em" value="Add Members"/>
</div>
</div>

<h2 style="margin-top:1.5em">Owners</h2>
<div class="inset" style="margin-top:0.5em">
<p> An owner is someone who can make changes to the group. This allows you to
delegate management of the group to someone else.</p>
<div th:if="${group['creatorsname'] != null or group['owner'] != null}">
<div th:each="o: ${(group['owner'] != null) ? (group.owner) : (group.creatorsname)}">
<c:set var="o" value="${lu.dn2user(odn)}"/>
<span th:text="${membernames.get(o)}"/> <img role="button" tabindex="0" style="height:1em;margin-left:1em" src="delete.png" th:alt="${'Delete owner ' + lu.dn2user(o)}" class="deleteOwnerButton"/><input type="hidden" name="deleteOwnerName" th:value="${lu.dn2user(o)}"/><br/>
</div>
</div>

<h3>Add Owners</h3>
<div class="inset">
<label>NetIds to add as owners, one per line<br/>
<textarea class="newowner" name="newowner" rows="4" cols="40"></textarea></label><br/>
<input type="submit" style="margin-top:0.5em" value="Add Owners"/>
</div>
</div>

<div th:if="${isloginmanager}">

<h2>Clusters</h2>

<div class="inset">
<fieldset style="border:none; margin: 0px; padding: 0px">
<p><legend style="margin:0px; padding: 0px"><label><input type="checkbox" name="login" th:checked="${group['businesscategory'] != null and group['businesscategory'].contains('login')}" th:disabled="${group['businesscategory'] != null and group['businesscategory'].contains('login')}"/> Members of group can login to the clusters specified below.</label></legend></p>
<div th:each="c: ${clusters}">
<div th:if="${c.usermanaged or group['host'] != null and group['host'].contains(c.name) }">
<label><input type="checkbox" name="hosts" th:value="${c.name}" th:checked="${group['host'] != null and group['host'].contains(c.name)}"/> <span th:text="${c.name}"/></label>
</div>
</div>
</fieldset>
<p>
If the box "members of group can login" is checked, it can't be 
unchecked.
<div class="explanation">
<p>
NOTE: This section is actually used for two different purposes:
<ol>
<li> Faculty can use it to authorize guests to use ilab, grad, or research.
In that case the main box, "members of group can login" will be checked.
The box for each cluster that members may use will also be checked.
<li> Faculty can use it to control who can login for systems in faculty
labs or cluster. In that case the main box, "members of group can login"
will be checked. No other boxes will be checked, because we use other
ways to associate the group with the specific set of machines it controls.
</ol>
</div>
<p>
<input type="submit" value="Update Login Ability"/>
</p>
</div>
</div>
</div>
</form>
<div th:insert="~{accessibility :: footer}"></div>
</div>
</html>
